{{- $name := include "svai.name" . -}}

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $name }}
  labels:
    {{- include "svai.labels" . | nindent 4 }}
    app: {{ $name }}
spec:
  selector:
    matchLabels:
      {{- include "svai.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "svai.selectorLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "svai.serviceAccountName" . }}
      containers:
        - name: {{ $name }}
          image: {{ .Values.image.repository }}:{{ .Values.image.tag }} {{"# {\"$imagepolicy\":\""}}{{ $name }}-imagepolicy-{{ .Values.env }}"}
          env:
          {{- range .Values.environment.variables }}
          - name: {{ .name }}
            value: {{ .value }}
          {{- end }}
          {{- range .Values.environment.secrets }}
          - name: {{ .nameOfEnvVar }}
            value: {{ .nameInKeyVault }}@azurekeyvault
          {{- end }}
          ports:
            - name: http
              containerPort: {{ .Values.image.containerPort | default 8080  }}
              protocol: TCP
          {{- if .Values.containers.livenessProbe.enabled }}
          livenessProbe:
            httpGet:
              path: {{ .Values.containers.livenessProbe.path | default "/health" }}
              port: {{ .Values.containers.livenessProbe.port | default "HTTP" }}
            initialDelaySeconds: {{ .Values.containers.livenessProbe.initialDelaySeconds | default 2 }}
            periodSeconds: {{ .Values.containers.livenessProbe.periodSeconds | default 15 }}
            timeoutSeconds: {{ .Values.containers.livenessProbe.timeoutSeconds | default 10 }}
            successThreshold: {{ .Values.containers.livenessProbe.successThreshold | default 1 }}
            failureThreshold: {{ .Values.containers.livenessProbe.failureThreshold | default 3 }}
          {{- end }}
          {{- if .Values.containers.readinessProbe.enabled }}
          readinessProbe:
            httpGet:
              path: {{ .Values.containers.readinessProbe.path | default "/health" }}
              port: {{ .Values.containers.readinessProbe.port | default "HTTP" }}
            initialDelaySeconds: {{ .Values.containers.readinessProbe.initialDelaySeconds | default 10 }}
            periodSeconds: {{ .Values.containers.readinessProbe.periodSeconds | default 10 }}
            timeoutSeconds: {{ .Values.containers.readinessProbe.timeoutSeconds | default 5 }}
            successThreshold: {{ .Values.containers.readinessProbe.successThreshold | default 1 }}
            failureThreshold: {{ .Values.containers.readinessProbe.failureThreshold | default 5 }}
          {{- end }}
          {{- if .Values.containers.startupProbe.enabled }}
          startupProbe:
            httpGet:
              path: {{ .Values.containers.startupProbe.path | default "/health" }}
              port: {{ .Values.containers.startupProbe.port | default "HTTP" }}
            initialDelaySeconds: {{ .Values.containers.startupProbe.initialDelaySeconds | default 3 }}
            periodSeconds: {{ .Values.containers.startupProbe.periodSeconds | default 10 }}
            timeoutSeconds: {{ .Values.containers.startupProbe.timeoutSeconds | default 5 }}
            successThreshold: {{ .Values.containers.startupProbe.successThreshold | default 1 }}
            failureThreshold: {{ .Values.containers.startupProbe.failureThreshold | default 3 }}
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
